{% extends 'base/base.html' %}

{% load static %}

{% block content %}
    <h1>Are you sure you want to delete this ORGANIZATION?</h1>
    <h3>You will NOT be able to recover it's information!!!</h3>
    <h2>Organization info:</h2>
    <h4>{{ organization.name }} - {{ organization.legal_status }}</h4>
    <h4>From: {{ organization.hq_state_province }}/{{ organization.get_hq_country_display }}</h4>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="danger-btn">Yes, delete this organization.</button>
    </form>
    <div style="margin-top: 8px">
        <a href="{% url 'volah:list_organization' %}"><button class="normal-btn">CANCEL</button></a>
    </div>

{% endblock %}
